@model IEnumerable<FPTBookStore.Models.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 side-color">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>

    <h2>Author</h2>
    <div class="mt-2">
        <div class="d-flex justify-content-between mb-2">
            <a class="btn btn-primary" href="@Url.Action("Create","Author")"><i class="fa-solid fa-plus"></i>  Add Author</a>
            @using (Html.BeginForm())
            {
        <div class="d-flex justify-content-between">
            @Html.TextBox("searchstring", "", new { @class = "form-control mr-2", type = "text" })
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
            }
        </div>
    </div>
    <div class="table-responsive mt-2">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">AuthorID</th>
                    <th scope="col">AuthorName</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td>@author.AuthorID</td>
                        <td>@author.AuthorName</td>
                        <td><a href="@Url.Action("Edit","Author",new { id=author.AuthorID})"><i class="fa-solid fa-pen-to-square"></i>Edit</a></td>
                        <td><a  onclick="return confirm('Are you sure ?')" href="@Url.Action("Delete","Author",new { id=author.AuthorID})"><i class="fa-solid fa-trash-can"></i>Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>


