@model IEnumerable<FPTBookStore.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 side-color">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>

    <h2>Orders</h2>
    <div class="add-block  mt-2">
        <div class="d-flex justify-content-between mb-2">
            <a class="btn btn-primary" href=""><i class="fa-solid fa-plus"></i>  Add Order</a>
            <form>
                <div class="d-flex justify-content-between">
                    <input class="form-control mr-2" type="text">
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive mt-2">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">OrderID</th>
                    <th scope="col">OrderDate</th>
                    <th scope="col">TotalPrice</th>
                    <th scope="col">Address</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderID</td>
                        <td>@order.OrderDate</td>
                        <td>@order.TotalPrice</td>
                        <td>@order.Address</td>
                        <td><a href="@Url.Action("Edit","Admin",new { id=order.OrderID})"><i class="fa-solid fa-pen-to-square"></i>Edit</a></td>
                        <td><a href="@Url.Action("Delete","Admin",new { id=order.OrderID})"><i class="fa-solid fa-trash-can"></i>Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>

