
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model FPTBookStore.Models.Account
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Shop Single</li>
</ol>
<div class="mt-2 mb-2 container">
    @Html.ActionLink("View Order History", "Index", "History", new { }, new { @class = "" })<span class="text-primary"><i class="fa-solid fa-arrow-right"></i></span>
</div>
<div class="update-profile">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container mb-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Update Profile</h3></div>
                                <div class="card-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.UserName)
                                            @*<div class="col-12 mt-3">*@
                                                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })*@
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email...", type = "hidden" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            @*</div>*@
                                            <div class="col-md-12 mt-3">
                                                <label class="form-label" for="oldpass">Old Password</label>
                                                <input class="form-control" id="oldpass" name="oldpass" type="password" />
                                                <p class="text-danger">@ViewBag.oldpass</p>
                                            </div>
                                            <div class="col-md-12 mt-3">
                                             
                                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "RePassword...", @type = "password" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12 mt-3">
        
                                                @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", placeholder = "RePassword...",@type="password" } })
                                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                                            </div>
                                            @*<div class="col-12 mt-3">*@
                                                @*@Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "form-label" })*@
                                                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", placeholder = "FullName...", type = "hidden" } })
                                                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                                            @*</div>*@
                                            @*<div class="col-12 mt-3">*@
                                                @*@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form-label" })*@
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address...", type = "hidden" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            @*</div>*@
                                            @*<div class="col-12 mt-3">*@
                                                @*@Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "form-label" })*@
                                                @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control", placeholder = "Tel...", type = "hidden" } })
                                                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                                            @*</div>*@
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid">
                                                <input type="submit" class="btn btn-primary btn-block" value="Change Password">
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
            </footer>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


